extends ../layout

block content

    div.bg-black
        div.parallax-empieza
            div.parallax-caption
                h1.display-5.text-white(style="font-family: 'Sedgwick Ave', cursive;") Busca, selecciona y Reserva tu motel
                    span.text-accent &nbsp; ya!
            div.parallax-button
                a.btn.btn-raised.btn-accent(href='reservar') Reserva ya!

    div.container(style="margin-top: -30px; z-index:100;")
        div.card
            div.card-body
                .d-flex.justify-content-center.my-3
                    .p-2
                        //h1.display-5(style="font-family: 'Sedgwick Ave', cursive; text-shadow: 1px 1px 10px black;") si no sabes cual elegir, te ayudamos :)
                        h1.text-center(style="font-family: 'Sedgwick Ave', cursive; text-shadow: 1px 1px 10px black;") si no sabes cual elegir, te ayudamos :)
                .row.text-justify
                    .col-md-4.p-2
                        .card.border.border-primary.ml-md-3
                            .mt-4.text-center.color-amber-500
                                i.fa.fa-star-o.fa-4x.text-center(aria-hidden='true')
                            .card-body
                                h5.card-title
                                    | favoritos
                                p.card-text
                                    | Ubica los moteles mas preferidos de tu ciudad.
                                a.card-link(href='reservar?favoritos')
                                    | filtra favoritos
                    .col-md-4.p-2
                        .card.border.border-primary.ml-md-3
                            .mt-4.text-center.color-blue-500
                                i.fa.fa-map-marker.fa-4x.text-center(aria-hidden='true')
                            .card-body
                                h5.card-title
                                    | cercanos
                                p.card-text
                                    | Localiza los moteles mas cercanos a tu posición.
                                a.card-link(href='reservar?ubicacion')
                                    | filtra cercanos
                    .col-md-4.p-2
                        .card.border.border-primary.mx-md-3
                            .mt-4.text-center.color-red-500
                                i.fa.fa-product-hunt.fa-4x.text-center(aria-hidden='true')
                            .card-body
                                h5.card-title
                                    | promociones
                                p.card-text
                                    | Descubre ofertas y descuentos para tus momentos de pasión.
                                a.card-link(href='reservar?promociones')
                                    | filtra promociones

                .d-flex.justify-content-center.my-3
                    .p-2
                        h1.text-center(style="font-family: 'Sedgwick Ave', cursive; text-shadow: 1px 1px 10px black;") Habitaciones Favoritas ;)

                .row.text-justify
                    .col-md-4.p-2(style=' flex-grow: 1; flex-basis: 0;')
                        .card.border.border-primary.p-3
                            #carouselControls7.carousel.slide(data-ride='carousel')
                                .carousel-inner
                                    .carousel-item.active
                                        img.d-block.w-100(src='img/elcastillo/china1.jpg', alt='First slide',style='height:200px;width:100%')
                                    .carousel-item
                                        img.d-block.w-100(src='img/elcastillo/china2.jpg', alt='Second slide',style='height:200px;width:100%')

                                a.carousel-control-prev(href='#carouselControls7', role='button', data-slide='prev')
                                    span.carousel-control-prev-icon(aria-hidden='true')
                                    span.sr-only Previous
                                a.carousel-control-next(href='#carouselControls7', role='button', data-slide='next')
                                    span.carousel-control-next-icon(aria-hidden='true')
                                    span.sr-only Next
                            hr
                            h5.text-capitalize(style="font-family: 'Sedgwick Ave', cursive;") china
                            p.color-amber-500
                                i.fa.fa-star(aria-hidden='true')
                                i.fa.fa-star(aria-hidden='true')
                                i.fa.fa-star(aria-hidden='true')
                                i.fa.fa-star(aria-hidden='true')
                                i.fa.fa-star-half-full(aria-hidden='true')
                                span.text-body.float-right.h4 &nbsp; $80.000
                            a.btn.btn-primary.float-right(href="el-castillo") reserva ya!
                    .col-md-4.p-2(style=' flex-grow: 1; flex-basis: 0;')
                        .card.border.border-primary.p-3
                            #carouselControls4.carousel.slide(data-ride='carousel')
                                .carousel-inner
                                    .carousel-item.active
                                        img.d-block.w-100(src='img/qatar/red1.jpg', alt='First slide',style='height:200px;width:100%')
                                    .carousel-item
                                        img.d-block.w-100(src='img/qatar/red2.jpg', alt='Second slide',style='height:200px;width:100%')
                                    .carousel-item
                                        img.d-block.w-100(src='img/qatar/red3.jpg', alt='Second slide',style='height:200px;width:100%')
                                    .carousel-item
                                        img.d-block.w-100(src='img/qatar/red4.jpg', alt='Second slide',style='height:200px;width:100%')
                                    .carousel-item
                                        img.d-block.w-100(src='img/qatar/red5.jpg', alt='Second slide',style='height:200px;width:100%')
                                    .carousel-item
                                        img.d-block.w-100(src='img/qatar/red6.jpg', alt='Second slide',style='height:200px;width:100%')
                                    .carousel-item
                                        img.d-block.w-100(src='img/qatar/red7.jpg', alt='Second slide',style='height:200px;width:100%')
                                    .carousel-item
                                        img.d-block.w-100(src='img/qatar/red8.jpg', alt='Second slide',style='height:200px;width:100%')

                                a.carousel-control-prev(href='#carouselControls4', role='button', data-slide='prev')
                                    span.carousel-control-prev-icon(aria-hidden='true')
                                    span.sr-only Previous
                                a.carousel-control-next(href='#carouselControls4', role='button', data-slide='next')
                                    span.carousel-control-next-icon(aria-hidden='true')
                                    span.sr-only Next
                            hr
                            h5.text-capitalize(style="font-family: 'Sedgwick Ave', cursive;") Grupal Red Room
                            p.color-amber-500
                                i.fa.fa-star(aria-hidden='true')
                                i.fa.fa-star(aria-hidden='true')
                                i.fa.fa-star(aria-hidden='true')
                                i.fa.fa-star(aria-hidden='true')
                                i.fa.fa-star-half-full(aria-hidden='true')
                                span.text-body.float-right.h4 &nbsp; $220.000
                            a.btn.btn-primary.float-right(href="qatar") reserva ya!
                    .col-md-4.p-2(style=' flex-grow: 1; flex-basis: 0;')
                        .card.border.border-primary.p-3
                            #carouselControls6.carousel.slide(data-ride='carousel')
                                .carousel-inner
                                    .carousel-item.active
                                        img.d-block.w-100(src='img/lacascada/p1.jpg', alt='First slide',style='height:200px;width:100%')
                                    .carousel-item
                                        img.d-block.w-100(src='img/lacascada/p2.jpg', alt='Second slide',style='height:200px;width:100%')
                                    .carousel-item
                                        img.d-block.w-100(src='img/lacascada/p3.jpg', alt='Second slide',style='height:200px;width:100%')
                                    .carousel-item
                                        img.d-block.w-100(src='img/lacascada/p4.jpg', alt='Second slide',style='height:200px;width:100%')
                                    .carousel-item
                                        img.d-block.w-100(src='img/lacascada/p5.jpg', alt='Second slide',style='height:200px;width:100%')
                                    .carousel-item
                                        img.d-block.w-100(src='img/lacascada/p6.jpg', alt='Second slide',style='height:200px;width:100%')
                                    .carousel-item
                                        img.d-block.w-100(src='img/lacascada/p7.jpg', alt='Second slide',style='height:200px;width:100%')
                                    .carousel-item
                                        img.d-block.w-100(src='img/lacascada/p8.jpg', alt='Second slide',style='height:200px;width:100%')
                                    .carousel-item
                                        img.d-block.w-100(src='img/lacascada/p9.jpg', alt='Second slide',style='height:200px;width:100%')
                                    .carousel-item
                                        img.d-block.w-100(src='img/lacascada/p10.jpg', alt='Second slide',style='height:200px;width:100%')

                                a.carousel-control-prev(href='#carouselControls6', role='button', data-slide='prev')
                                    span.carousel-control-prev-icon(aria-hidden='true')
                                    span.sr-only Previous
                                a.carousel-control-next(href='#carouselControls6', role='button', data-slide='next')
                                    span.carousel-control-next-icon(aria-hidden='true')
                                    span.sr-only Next
                            hr
                            h5.text-capitalize(style="font-family: 'Sedgwick Ave', cursive;") piscina
                            p.color-amber-500
                                i.fa.fa-star(aria-hidden='true')
                                i.fa.fa-star(aria-hidden='true')
                                i.fa.fa-star(aria-hidden='true')
                                i.fa.fa-star(aria-hidden='true')
                                i.fa.fa-star-half-full(aria-hidden='true')
                                span.text-body.float-right.h4 &nbsp; $48.000
                            a.btn.btn-primary.float-right(href="la-kaskada") reserva ya!



            div.parallax-empieza.rounded.d-flex.align-items-center.justify-content-center.text-center.flex-column
                .display-2.text-white.mx-5(style="font-family: 'Sedgwick Ave', cursive; text-shadow: 2 2 3px #9c27b0")
                    | Libera tus
                    span.text-accent &nbsp; instintos.

            div.card-body
                //.d-flex.justify-content-center.my-3
                //    .p-2
                //        h1.display-2(style="font-family: 'Sedgwick Ave', cursive; text-shadow: 1px 1px 10px black;") si no sabes cual elegir, te ayudamos :)

                .row.text-justify
                    .p-2.col-md-6(style=' flex-grow: 1; flex-basis: 0;')
                        .card.border.border-primary.ml-md-3
                            .mt-4.text-center.color-amber-500
                            .card-body
                                h5.card-title
                                    i.fa.fa-dollar.text-center(aria-hidden='true') &nbsp;
                                    | precio
                                p.card-text
                                    | Selecciona tu motel definiendo tu presupuesto.
                                a.card-link(href='reservar?precio')
                                    | filtra precio
                    .p-2.col-md-6(style=' flex-grow: 1; flex-basis: 0;')
                        .card.border.border-primary.mx-md-3
                            .mt-4.text-center.color-blue-500
                            .card-body
                                h5.card-title
                                    i.fa.fa-link.text-center(aria-hidden='true') &nbsp;
                                    | alianza
                                //p.card-text
                                    | gremio de los taxistas, uber, macdonald's, cadenas de cine.
                                p.card-text Discotecas &nbsp;
                                    a(href="#") ver listado
                                p.card-text Gremio de taxis &nbsp;
                                    a(href="#") ver contactos
