extends ../layout

block content
    div.container(style="margin-top: 30px; z-index:100;")
        nav(aria-label='breadcrumb')
            ol.breadcrumb
                li.breadcrumb-item
                    a(href='/') Home
                li.breadcrumb-item
                    a(href="/reservar") Reservar
                li.breadcrumb-item.active(aria-current='page') Eclipse
        div.card(style='min-height:700px')
            div.card-body
                .mx-5
                    .row
                        .col-md-4
                            .card.sticky-top(style="position: sticky;top: 10%;z-index: 0;")
                                .card-body
                                    img(src='img/eclipse/fachada.png',style='height:auto;width:100%')
                                    hr
                                    h4(style="font-family: 'Sedgwick Ave', cursive;") Eclipse
                                    dl.row.mx-0
                                        dt
                                            i.fa.fa-map-marker(aria-hidden='true') &nbsp;
                                            | Direccion: &nbsp;
                                        dd.text-muted Cra. 23 No 58-77 Autopista Sur oriental
                                        dt Teléfono: &nbsp;
                                        dd.text-muted 316 822 4968
                                    p.color-amber-500
                                        i.fa.fa-star.fa-2x(aria-hidden='true')
                                        i.fa.fa-star.fa-2x(aria-hidden='true')
                                        i.fa.fa-star.fa-2x(aria-hidden='true')
                                        i.fa.fa-star.fa-2x(aria-hidden='true')
                                        i.fa.fa-star-half-full.fa-2x(aria-hidden='true')
                                    p.text-muted
                                        i.fa.fa-product-hunt.color-amber-500(aria-hidden='true') &nbsp;
                                        | Visita el motel en tu cumpleaños y reclama un descuento del 50% presentando tu cedúla.
                                    p.text-muted
                                        i.fa.fa-product-hunt.color-amber-500(aria-hidden='true') &nbsp;
                                        | 50% de descuento en tu 5 visita.
                        .col-md-8
                            .card.card-body
                                .row
                                    .col-md-6
                                        #carouselControls.carousel.slide(data-ride='carousel')
                                            .carousel-inner
                                                .carousel-item.active
                                                    img.d-block.w-100(src='img/eclipse/presidencial.jpg', alt='First slide',style='height:200px;width:100%')
                                            a.carousel-control-prev(href='#carouselControls', role='button', data-slide='prev')
                                                span.carousel-control-prev-icon(aria-hidden='true')
                                                span.sr-only Previous
                                            a.carousel-control-next(href='#carouselControls', role='button', data-slide='next')
                                                span.carousel-control-next-icon(aria-hidden='true')
                                                span.sr-only Next
                                        br
                                        p.color-amber-500
                                            i.fa.fa-star(aria-hidden='true')
                                            i.fa.fa-star(aria-hidden='true')
                                            i.fa.fa-star(aria-hidden='true')
                                            i.fa.fa-star(aria-hidden='true')
                                            i.fa.fa-star-half-full(aria-hidden='true')
                                            span.text-body.float-right.h4 &nbsp; $50.000
                                    .col-md-6
                                        h4.text-capitalize(style="font-family: 'Sedgwick Ave', cursive;") precidencial
                                        div
                                            i.fa.fa-check &nbsp;
                                            | silla erotica
                                        div
                                            i.fa.fa-check &nbsp;
                                            | minibar
                                        div
                                            i.fa.fa-check &nbsp;
                                            | juguetes
                                        div
                                            i.fa.fa-check &nbsp;
                                            | jacuzzi
                                        div
                                            i.fa.fa-check &nbsp;
                                            | 4 cervezas o 500ml aguardiente
                                        div
                                            i.fa.fa-check &nbsp;
                                            | 3 personas
                                        div
                                            i.fa.fa-check &nbsp;
                                            | 4 horas
                                        hr
                                        button.btn.btn-primary.float-right reserva ya!
                                hr
                                .row
                                    .col-md-6
                                        #carouselControls2.carousel.slide(data-ride='carousel')
                                            .carousel-inner
                                                .carousel-item.active
                                                    img.d-block.w-100(src='img/eclipse/suite1.jpg', alt='First slide',style='height:200px;width:100%')
                                                .carousel-item
                                                    img.d-block.w-100(src='img/eclipse/suite2.jpg', alt='First slide',style='height:200px;width:100%')

                                            a.carousel-control-prev(href='#carouselControls2', role='button', data-slide='prev')
                                                span.carousel-control-prev-icon(aria-hidden='true')
                                                span.sr-only Previous
                                            a.carousel-control-next(href='#carouselControls2', role='button', data-slide='next')
                                                span.carousel-control-next-icon(aria-hidden='true')
                                                span.sr-only Next
                                        br
                                        p.color-amber-500
                                            i.fa.fa-star(aria-hidden='true')
                                            i.fa.fa-star(aria-hidden='true')
                                            i.fa.fa-star(aria-hidden='true')
                                            i.fa.fa-star(aria-hidden='true')
                                            i.fa.fa-star-half-full(aria-hidden='true')
                                            span.text-body.float-right.h4 &nbsp; $43.000
                                    .col-md-6
                                        h4.text-capitalize(style="font-family: 'Sedgwick Ave', cursive;") suite
                                        div
                                            i.fa.fa-check &nbsp;
                                            | silla erotica
                                        div
                                            i.fa.fa-check &nbsp;
                                            | minibar
                                        div
                                            i.fa.fa-check &nbsp;
                                            | juguetes
                                        div
                                            i.fa.fa-check &nbsp;
                                            | 2 suites
                                        div
                                            i.fa.fa-check &nbsp;
                                            | 1L champagne
                                        div
                                            i.fa.fa-check &nbsp;
                                            | 3 personas
                                        div
                                            i.fa.fa-check &nbsp;
                                            | 4 horas
                                        hr
                                        button.btn.btn-primary.float-right reserva ya!
                                hr
                                .row
                                    .col-md-6
                                        #carouselControls4.carousel.slide(data-ride='carousel')
                                            .carousel-inner
                                                .carousel-item.active
                                                    img.d-block.w-100(src='img/eclipse/junior1.jpg', alt='First slide',style='height:200px;width:100%')
                                                .carousel-item
                                                    img.d-block.w-100(src='img/eclipse/junior2.jpg', alt='Second slide',style='height:200px;width:100%')
                                                .carousel-item
                                                    img.d-block.w-100(src='img/eclipse/junior3.jpg', alt='Third slide',style='height:200px;width:100%')
                                            a.carousel-control-prev(href='#carouselControls4', role='button', data-slide='prev')
                                                span.carousel-control-prev-icon(aria-hidden='true')
                                                span.sr-only Previous
                                            a.carousel-control-next(href='#carouselControls4', role='button', data-slide='next')
                                                span.carousel-control-next-icon(aria-hidden='true')
                                                span.sr-only Next
                                        br
                                        p.color-amber-500
                                            i.fa.fa-star(aria-hidden='true')
                                            i.fa.fa-star(aria-hidden='true')
                                            i.fa.fa-star(aria-hidden='true')
                                            i.fa.fa-star(aria-hidden='true')
                                            i.fa.fa-star-half-full(aria-hidden='true')
                                            span.text-body.float-right.h4 &nbsp; $36.000
                                    .col-md-6
                                        h4.text-capitalize(style="font-family: 'Sedgwick Ave', cursive;") junior
                                        div
                                            i.fa.fa-check &nbsp;
                                            | silla erotica
                                        div
                                            i.fa.fa-check &nbsp;
                                            | minibar
                                        div
                                            i.fa.fa-check &nbsp;
                                            | juguetes
                                        div
                                            i.fa.fa-check &nbsp;
                                            | 1L champagne o pirinola quita ropa
                                        div
                                            i.fa.fa-check &nbsp;
                                            | 2 personas
                                        div
                                            i.fa.fa-check &nbsp;
                                            | 4 horas
                                        hr
                                        button.btn.btn-primary.float-right reserva ya!
                                hr
                                .row
                                    .col-md-6
                                        #carouselControls3.carousel.slide(data-ride='carousel')
                                            .carousel-inner
                                                .carousel-item.active
                                                    img.d-block.w-100(src='img/eclipse/sencilla1.jpg', alt='First slide',style='height:200px;width:100%')
                                                .carousel-item
                                                    img.d-block.w-100(src='img/eclipse/sencilla2.jpg', alt='Second slide',style='height:200px;width:100%')

                                            a.carousel-control-prev(href='#carouselControls3', role='button', data-slide='prev')
                                                span.carousel-control-prev-icon(aria-hidden='true')
                                                span.sr-only Previous
                                            a.carousel-control-next(href='#carouselControls3', role='button', data-slide='next')
                                                span.carousel-control-next-icon(aria-hidden='true')
                                                span.sr-only Next
                                        br
                                        p.color-amber-500
                                            i.fa.fa-star(aria-hidden='true')
                                            i.fa.fa-star(aria-hidden='true')
                                            i.fa.fa-star(aria-hidden='true')
                                            i.fa.fa-star(aria-hidden='true')
                                            i.fa.fa-star-half-full(aria-hidden='true')
                                            span.text-body.float-right.h4 &nbsp; $28.000
                                    .col-md-6
                                        h4.text-capitalize(style="font-family: 'Sedgwick Ave', cursive;") sencilla
                                        div
                                            i.fa.fa-check &nbsp;
                                            | silla erotica
                                        div
                                            i.fa.fa-check &nbsp;
                                            | juguetes
                                        div
                                            i.fa.fa-check &nbsp;
                                            | 1L champagne o pirinola quita ropa
                                        div
                                            i.fa.fa-check &nbsp;
                                            | 2 personas
                                        div
                                            i.fa.fa-check &nbsp;
                                            | 4 horas
                                        hr
                                        button.btn.btn-primary.float-right reserva ya!
                                hr
