doctype html
html
    head
        title= title
        link(rel='icon', href='favicon.png')
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css')
        link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css')
    body
        header.container
            div.d-flex.aling-items-center
                div.p-2.bh-highlight
                    h1.display-4
                        span.text-danger
                            i.fa.fa-shopping-bag
                div.p-2.bh-highlight
                    h1.display-4.my-3 carlos22ivan store
        block content
        footer.bg-light.fixed-bottom
            hr.my-0
            div.container
                div.d-flex.flex-row-reverse.bd-highlight
                    div.p-2.bd-highlight
                        span made with &nbsp;
                        i.text-danger.fa.fa-heart
                        span &nbsp; by carlos22ivan
        script(src='https://code.jquery.com/jquery-3.3.1.slim.min.js')
        script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js')
        script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js')